# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Build system
*.d
.dns
.tools
.hurl

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
webperf/webperf

#Eclipse
/debug
.project
.cproject
bin/
cscope.files
gmock-1.7.0.zip
gmock-1.7.0/
tags
update-tags.sh
/Debug/
.settings/

#Test output files
*.stderr
*.stdout
*.output

#Coverage files
*.gcda
*.gcno
*.gcov
*.cov

#OSX
.DS_Store
