# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
examples/example1

#Eclipse
/debug
.project
.cproject
bin/
cscope.files
gmock-1.7.0.zip
gmock-1.7.0/
tags
update-tags.sh
